.animalsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2rem;
}

h1 {
  margin: 1rem;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Shadows Into Light", cursive;
}
